# ——— Botmaker ———
BOTMAKER_TOKEN=xxxxx
BOTMAKER_CLIENT_ID=xxxxxx
BOTMAKER_SECRET_ID=xxxxxx
BOTMAKER_REFRESH_TOKEN=xxxxx
HTTP_BACKOFF_BASE=1.7

# ——— Parámetros ETL ———
ETL_INITIAL_TS=2025-03-01T00:00:00Z
ETL_WINDOW_DAYS=30
TENANT_ID=GrupoRimoldi

# ——— Nivel de depuración (DEBUGGER) ———
# Poner "True" para ver logs de DEBUG, o "False" para solo INFO
DEBUGGER=True
LOG_HTTP_BODY=false
COMMIT_IN_STAGES=true

# ——— Conexión SQL Server ———
DB_HOST=localhost
DB_PORT=1433
DB_NAME=KoalaETL
DB_DRIVER=SQL Server  # DB_DRIVER=ODBC Driver 17 for SQL Server
DB_USER=Koala
DB_PASS=xxxxxxx







